[user]
    name = mpr
    email = marinpericradan1@gmail.com

[init]
	defaultBranch = main

[page]
	log = false
[pager]
	branch = false
	log = false
[fetch]
	prune = true
[core]
    editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictStyle = zdiff3
